.lib-tabl {
    user-select: none;
}

.lib-tabl th:hover, .lib-tabl td:hover {
    cursor: crosshair;
}

.lib-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    user-select: none;
}

table.lib-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

.lib-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.lib-table .selectedTableObjCell th {
    background-color: antiquewhite;
}

button {
    border: none;
    padding: 10px 27px;
    background-color: #f8f9fa;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e2e6ea;
}

.selectedTableObjCell {
    /* background-color: antiquewhite !important; */
    background-color: rgb(249, 224, 186) !important;
}

.selectedTableObjCell.highlightedTableObjCell {
    background-color: #abbdc4 !important;
}

.yellow-highlighted {
    background-color: #faf06b !important;
}

.blue-highlighted {
    background-color: #d5e6ed !important;
}

.green-highlighted {
    background-color: #9bd49e !important;
}

.cursor-crosshair {
    cursor: crosshair;
}

.rowDragHandle, .columnDragHandle{
    cursor: move !important;
}

.dragSVG {
    display: flex;
    justify-content: center;
    align-items: center;
}

.magnify-on-hover:hover {
    background-color: #e8e8e8;
    transform: scale(1.5);
    transition: transform 0.1s ease-in-out;
    z-index: 1000000;
    position: relative;
}

#TableObjToolbar {
    position: fixed;
    top: 50%;
    right: 0;
    background-color: #f8f8f8;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    transform: translateY(-50%);
    z-index: 1000000;
    border: 1px solid #000;
    border-radius: 5px;
}

.TableObjMenuContainer {
    position: relative;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
}

.TableObjMenuContainer label {
    margin-left: 4px;
}

.TableObjMenu, .TableObjSubMenu {
    min-width: 180px;
    max-width: fit-content;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fbf6f6;
    border: black 1px solid;
    border-radius: 4px;
    position: absolute;
    z-index: 1000000;
}

.TableObjMenu {
    top: 100%;
    left: 0;
}

.TableObjMenu li, .TableObjSubMenu li {
    user-select: none;
    cursor: default;
    position: relative;
    display: block;
    padding: 5px;
}

.TableObjMenu li:hover {
    background-color: #e8e8e8;
}

.TableObjSubMenu {
    max-height: 300px;
    overflow-y: auto;
    top: 0;
    right: auto;
    left: 100%;
    display: none;
}

.TableObjMenu li:hover > .TableObjSubMenu {
    display: block;
    z-index: 99;
}

#chartContainer {
    border: 1px solid black;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000000;
}

#chartCloseButton {
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(40%, -40%);
    right: 0;
    top: 0;
    cursor: pointer;
}

.sortButton {
    line-height: 0.65;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    margin: 0px 3px;
}

.sortButton:hover {
    background-color: #e8e8e8;
}

.columnDragLineLeft {
    position: relative;
    border-left: 3px solid #000000 !important;
}

.columnDragLineRight {
    position: relative;
    border-right: 3px solid #000000 !important;
}

.rowDragLineTop {
    position: relative;
    border-top: 3px solid #000000 !important;
}

.rowDragLineBottom {
    position: relative;
    border-bottom: 3px solid #000000 !important;
}

.columnDragLineLeft::after, .columnDragLineRight::after {
    content: '';
    position: absolute;
    top: -15px;
    z-index: 1000000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
}

.columnDragLineLeft::after {
    left: -11.5px;
}

.columnDragLineRight::after {
    right: -11.5px;
}

.rowDragLineTop::after, .rowDragLineBottom::after {
    content: '';
    position: absolute;
    left: -10px;
    z-index: 1000000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
}

.rowDragLineTop::after {
    top: -13px;
}

.rowDragLineBottom::after {
    bottom: -13px;
}

.tableSelected {
    border: 4px solid #000000 !important;
}